<h1>Chat Participants</h1>
<% @conversation.users.each do |user| %>
  <%= user.username %>
<% end %>

<h1>Conversation</h1>
<div class="conversation-table-<%= @conversation.id %>">
  <% @conversation.messages.each do |message| %>
  <div class="message">
    <div class="message-sender">
      <%= "#{message.user.username}"%> at
      <span class="message-timestamp">
        <%= "#{message.created_at}" %>
      </span>
    </div>
    <div class="message-text"><%= message.text %></div>
  </div>
  <% end %>
</div>
